# Ignore large or unnecessary folders
source/
downloads/
patches/

# Kernel module build outputs
*.o
*.ko
*.mod.*
*.cmd
*.symvers
*.order
*.tmp
.tmp_versions/

# Misc
*.log
*~
*.swp
*.swo
.DS_Store

# IDEs
.vscode/
.idea/
